# Firebase Config
FIREBASE_DATABASE_URL=https://projectallow-default-rtdb.firebaseio.com/
# Paste the ENTIRE content of your service-account.json file as a single line below
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", "project_id": "...", ...}

# Grafana Config
GRAFANA_SESSION_ID=3c88dfffa87523aa1d62f2c59bcf43e9
